header{
	background: linear-gradient(#078F94,#23C6CB) ;
	padding:20px;
}

h1{
	font-size: 50px;
	text-align: center;
	color: #000;
}

nav.choixmaison ul{
	/*display:inline-flex;
	list-style-type: none;
	margin:auto;
	width:100%;
	justify-content: center;
	align-content: center;
	top:50%;
	margin:auto;*/

}

nav.choixmaison ul li{
	display:inline-flex;
	list-style-type: none;
	margin-left:2.5%;
	margin-right: 2.5%;
	

}

nav.choixmaison ul li a{
	color:#000;
	font-size: 40px;
	text-decoration: none;
	padding-top: 300px;
	padding-bottom: 300px;
	padding-right: 250px;
	padding-left: 250px;
}

nav.choixmaison ul li.laforge a{
	background: linear-gradient(#23C6CB,#BBFCFE);
}

nav.choixmaison ul li.deuxiememaison a{
	background: linear-gradient(#23C6CB,#BBFCFE);
}

div.retour a.retour{
	text-decoration: none;
	font-size: 25px;
	color:#fff;
}

div.gtop a.gtop{
	visibility: visible;
	text-decoration: none;
	font-size: 20px;
	bottom: 0;
	left: 85%;
	color: #F0F0F0;
	background-color: #078F94;
	padding:10px;
	margin-bottom: 40px;
	position: fixed;
	text-align:center;
}

div.intro ul.info li{
	list-style-type: disc;
	font-size: 30px;
	text-align: center;
}

 h2{
 	font-size: 36px;
 	text-align: center;
 	text-decoration: underline;
 }

div.intro ul.tarifs li{
	list-style-type: square;
	font-size: 30px;
	text-align: center;
}

div.photo h1.title{
	background: linear-gradient(#23C6CB,#078F94) ;
	padding:20px;
	text-align: center;
	margin-top: 82px;
}

div.paysage img{
	width: 60%;
	height: auto;
	margin-left: 20%;
	display: flex;
	flex-direction: column;
}

div.portrait {
	
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
div.portrait img{
	padding-right: 4%;
	padding-left: 4%;
	padding-top: 10px;
	width: 20%;	
	height: auto;
}